    <h2>キャラクター</h2>
    <p>使用するキャラクターを選んでください。</p>
    <div class="character-wrapper">
      <div>
        <ul class="characters">
          <li *ngFor="let character of characters"
            [class.selected]="character.selected === true"
            (click)="onSelect(character)">
            <span class="badge">{{character.id}}</span> {{character.name}}
          </li>
        </ul>
      </div>
      <div>
        <character-detail [character]="selectedCharacter"></character-detail>
      </div>
    </div>