
    <h1>{{title}}</h1>

    <tragedySet-list [scenario]="scenario" (onSet)="plotList.setPlotList()">
    </tragedySet-list>

    <plot-list [scenario]="scenario" #plotList>
    </plot-list>

    <character-list [characters]="characters" 
                    [selectedCharacters]="selectedCharacters">
    </character-list>

    <character-role-list
        [characters]="selectedCharacters" 
        [tragedySet]="selectedSet">
    </character-role-list>

    <mastermind-card [characters]="selectedCharacters" 
                     [tragedySet]="selectedSet">
    </mastermind-card>