
    <h1>{{title}}</h1>

    <tragedySet-list [tragedySets]="tragedySets" 
                     [selectedSet]="selectedSet">
    </tragedySet-list>

    <character-list [characters]="characters" 
                    [selectedCharacters]="selectedCharacters">
    </character-list>

    <character-role-list
        [characters]="selectedCharacters" 
        [tragedySet]="selectedSet">
    </character-role-list>

    <mastermind-card [characters]="selectedCharacters" 
                     [tragedySet]="selectedSet">
    </mastermind-card>