
<h1>{{title}}</h1>

<tragedySet-list [scenario]="scenario" 
                 (onSet)="plotList.setPlotList()">
</tragedySet-list>

<h2>ループ回数を選択してください</h2>
<input type="nubmer" [(ngModel)]="scenario.numberOfLoops"/>
<h2>1ループの日数を選択してください</h2>
<input type="number" [(ngModel)]="scenario.daysPerLoop" (change)="onChange()"/>

<incident-list [scenario] = "scenario" #incidentList></incident-list>

<plot-list [scenario]="scenario"
            (onSet)="characterRoleList.setRoleList()" 
            #plotList>
</plot-list>

<character-list [scenario]="scenario"
                (onSet)="characterRoleList.setRoleList();incidentList.setCharacterList()" >
</character-list>

<character-role-list [scenario]="scenario"
                        #characterRoleList>
</character-role-list>

<mastermind-card [scenario]="scenario">
</mastermind-card>